* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}
.wrap {
    background: #ae855733;
    display: flex;
    flex-flow: column nowrap;
}
    .header {
        background: #69191933;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: #FFF9D0;
            display: flex;
            flex-flow: row nowrap; 
            height: 100px;
            align-items: center;
        }
            .logo { 
                background: #E1AFD1;
                flex: 1 1 auto;
                height: 30px;
            }
            .nav {
                background: #AD88C6;
                flex: 5 1 auto;
                height: 30px;
            }
            .social {
                background: #E1AFD1;
                flex: 1 1 auto;
                height: 30px;
            }
            .main {
                background: #D895DA;
            } 
                h1 {
                    background: #3592b633;
                }

    .section {
        background: #69191933;
        display: flex;
    }
        .articles {
            background: #FFF9D0;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article {
                background: #03AED2;
                flex: 1 1 40%;
            }
            .navigation {
                background: #D895DA;
                flex: 1 1 100%;
            }
    .aside {
        background: #FFF9D0;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
    }
        .public {
            background: #03AED2;
        }

    .footer {
        background: #FFF9D0;
        display: flex;
        justify-content: center;
    }
        .foot{
            background: #D895DA;
            width: 100%;
        }
@media all and (max-width: 1200px){
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}
@media all and  (max-width: 600px){
    .articles {
        flex-direction: column;
    }
    .aside {
        flex-direction: column;
    }
}
