* {
    box-sizing: border-box;
    max-width: 1200px;
  
}
body {
    font-family: "Catamaran", sans-serif;
    
}
a {
    text-decoration: none;  
}
.wrap {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(255, 251, 240);
}
.margin-header{
    padding: 0 50px;          
}
    .header {
        background: url(../img/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
        height: 200px;
    }  
        .menu {
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
               
        }
            .logo { 
                flex: 1 1 auto;
            }
            .nav {
                flex: 5 1 auto;
            }
                .nav a{
                    color: #584e4e;
                    font-size: 11px;
                    text-transform: uppercase;
                    padding: 0 10px;
                    letter-spacing: 2px;
                }
                .nav a :hover{
                    color: #D895DA;
                }
            .social {
                flex: 1 1 auto;
                display: flex;
                padding-left: 0px;
            }
                .social a{
                    font-size: 18px;
                    color: #584e4e;
                    padding: 0 5px;
                }
                .social a :hover{
                    color: #D895DA;
                }
            .main {
                background: rgba(0, 0, 0,.1);
                border-bottom: 1px solid rgba(255, 255, 255,.5);
                margin-top: 80px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                
            }
                h1 {
                    font-family: 'Lora',serif;
                    font-size: 21px;
                    color: #FF9F66;
                    font-weight: 300;
                    text-align: center;
                    line-height: 2.6;
                    
                } 
    .section {
        background: #FBF9F1;
        display: flex;
        padding-top: 10px;
        padding-right: 0;
    }
        .articles {
            background: #dcd9d3;;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            
        }
            .article {
                flex: 1 1 40%;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #F6F5F2;
                margin-left: 10px;
                padding: 10px;
            }
            .article img{
                width: 100%;
            }
            .article a{
                color: #D895DA;
                font-size: 13px;
                padding: 10px;
                margin: 10px 0;
                display: inline-block;
                padding-bottom: 0px;
            }
            .article a:hover{
                color: #584e4e;
            }
            h3{
                color: #F6F5F2;
                background-color: #D895DA;
                text-transform: uppercase;
                margin-top: -25px;
                font-size: 25px;
                padding: 0px 0 10px;
            }
            h5{
                font-size: 13px;
                padding: 10px 0;
                margin-top: -40px;
                color: #FF9F66;
            }
            .col-left{
                float: left;
                width: 50%;
                padding: 0 10px 0 0;
            }
            .col-right{
                float: right;
                width: 50%;
                padding: 0 10px 0 0;
            }
            .navigation {
                background: #dcd9d3;
                flex: 1 1 100%;
                text-align: center;
            }
    .aside {
        background: #dcd9d3;
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
        margin: 0px 10px 0px 10px;
    }
        .public {
            margin: 10px;
            padding: 0;
            text-align: center;
        }

    .footer {
        background: #F6F5F2;
        display: flex;
        justify-content: center;
        margin: 10px;
    }
        .foot{
            background: #F6F5F2;
            width: 100%;
            text-align: center;
        }
@media all and (max-width: 1200px){
    .section {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }
    .aside {
        display: flex;
        justify-content: center;
    }
}
@media all and  (max-width: 600px){

    .menu{
        flex-direction: column;
        display: flex;
    }
    .articles {
        flex-direction: column;
    }
    .aside {
        flex-direction: column;
    }
}